<h1><%= @user.full_name %></h1>
<p><%= @user.email %></p>

<div class="row">
	<div class="col-md-6">
		<% if @questions.any? %>
			<h3>Questions Asked:</h3>
			<% @questions.each do |question| %>
				<%= question.title %><br/>
			<% end %>
		<% else %>
			<h3>No questions asked yet!</h3>
		<% end %>

		<% if @answers.any? %>
			<h3>Answers Given:</h3>
			<% @answers.each do |answer| %>
				<%= answer.body %><br/>
			<% end %>
		<% else %>
			<h3>No answers given yet!</h3>
		<% end %>
	</div>

	<div class="col-md-6">
		<h2>Held Positions:</h2>
		
	</div>
</div>