<h1><%= @user.full_name %></h1>
<p><%= @user.email %></p>

<% if @questions.any? %>
	<h2>Questions Asked:</h2>
	<% @questions.each do |question| %>
		<%= question.title %>
	<% end %>
<% else %>
	<h2>No questions asked yet!</h2>
<% end %>

<% if @answers.any? %>
	<h2>Answers Given:</h2>
	<% @answers.each do |answer| %>
		<%= answer.body %>
	<% end %>
<% else %>
	<h2>No answers given yet!</h2>
<% end %>